@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-margins {
    margin: 1rem;
}

th, td {
    padding: 15px;
}
h1{
    font-weight: bold;
    color: #333;
    font-size: 2em;
}
@font-face {
    font-family: 'Yantramanav';
    src: url('../fonts/Yantramanav-Regular.ttf') format('truetype');
    /* Other font properties (optional) */
}
/* Apply the font to all elements */
* {
    font-family: 'Yantramanav';
}
.addButton {
    /* Add the styles from the div */
    background-color: #66d4ba;
    border: none;
    border-radius: 0.375rem;
    color: #fff;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease; /* Adding transition for smooth color change */
}

.addButton:hover {
    color: #edf2f7; /* Change text color to gray on hover */
}
