@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-margins {
    margin: 1rem;
}

th, td {
    padding: 15px;
}
h1{
    font-weight: bold;
    color: #333;
    font-size: 2em;
}
@font-face {
    font-family: 'Yantramanav';
    src: url('../fonts/Yantramanav-Regular.ttf') format('truetype');
    /* Other font properties (optional) */
}
/* Apply the font to all elements */
* {
    font-family: 'Yantramanav';
}
